*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Version desktop */

@media  screen and (min-width:1024px) {
    

div{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#bleu1{
    
    background-color: aqua;
}

#vert{
    background-color: rgb(0, 255, 0);
}

#orange{
    background-color: rgb(255, 81, 0);
}

#rose{
    background-color: rgb(255, 0, 255);
}

#bleu2{
    background-color: blue;
}

#jaune{
    background-color: yellow;
}

#marron{
    background-color: rgb(139, 69, 19);
}

#bleu3{
    background-color: rgb(121, 177, 199);
} 
}


/* Version tablette */



    @media screen and (max-width: 1024px){
    
        div{
            
        /* 25% division par 4, pour les 4 DIV */
        width: 25%;
        /* La page est divisée en 2 d'où les 50% */
        height:50%;
        
    }
    
    body{
        background-color: aqua;
        width: 100vw;
        height: 100vh;
    }
    
    #colonne {
        display: flex;
        /* row = suite des div horizontalement  */
        flex-direction: row;
        flex-wrap:wrap;
        align-items:center;
        height: 100vh;
        width: 100vw;
    }
    
    } 


/* Version mobile */


    @media screen and (max-width: 390px){
    
        div{
            
        width: 50%;
        height:25vh;
        border:3px solid  aqua;
    }
    
    body{
        background-color: aqua;
        width: 100vw;
        height: 100vh;
    }
    
    #colonne {
        display: flex;
        /* row = horizontale  */
        flex-direction: row;
        flex-wrap:wrap;
        align-items:center;
        height: 100vh;
        width: 100vw;
    }
    
    #bleu1{
        
        background-color: aqua;
    }
    
    #vert{
        background-color: rgb(0, 255, 0);
    }
    
    #orange{
        background-color: rgb(255, 81, 0);
    }
    
    #rose{
        background-color: rgb(255, 0, 255);
    }
    
    #bleu2{
        background-color: blue;
    }
    
    #jaune{
        background-color: yellow;
    }
    
    #marron{
        background-color: rgb(139, 69, 19);
    }
    
    #bleu3{
        background-color: rgb(121, 177, 199);
    } 
}
