h1{
background-color: bisque; 
}

/*  Enfant Direct ou indirect */

/*  Enfant Indirect = Sélectionne tout p dans un main */
main p{
background-color: lightblue;
}

/*  Enfant Direct = Sélectionne tout p, directement enfant du main, sans autre balise les sépearants */
main > p{
background-color: lightgreen;
}

/*  Frére direct ou indirect */
/* Sélectionne tous les p suivant un h1 */
h1 ~ p{
background-color: lightcoral;
}

/* Sélectionne le premier p après un h1 */
h1 + p{
background-color: rgb(240, 232, 128);
}

/* Les pseudo classes */
/* Elles se reconnaissent à la syntaxe suivante ":nomPseudoClasse" */
/* AU survol de l'élément */
li:hover {
background-color: lightcoral;
}

/* Sélectionne le second enfant, si c'est un p*/
header p:nth-child(2){
color: rgb(28, 53, 28);
}

/* Sélectionne le second p enfant de header */
header p:nth-of-type(2){
color: rgb(27, 128, 27);
}
/* Existe aussi en comptant depuis la fin, nth-last-child() et nth-last-of-type() */

/* Les balises a n'héritent pas de propriétés de couleur de leurs parents, il faut les cibler directement */
h1 a {
color: rgb(0, 0, 0);
}
/* couleur sur un lien visité" */
h1 a:visited 
{
color: rgb(255, 0, 0);
}

/* Couleur du lien quand on clique dessus */
h1 a:active{
color: rgb(19, 151, 212);
}
/* Couleur du lien quand il y a focus */
h1 a:focus{
color: rgb(255, 136, 0);
}
/* tous les span dans un p, sauf le second */
p span:not(:nth-child(2)){
color: rgb(0, 0, 0);
}
/* toute les balises, sauf h1 et a */
*:not(h1, a){
    font-size: 20px;
}

/* article p, header p */
:where(article, header) p {
    color: rgb(38, 126, 52) !important ;
}

/* Pseudo Elément */
/* Reconnaissance à la synthaxe suivante "::pseudoElement */
article p::first-letter {
    font-size: 50px;
}
/* modifie la première ligne */
main > p::first-line {
    font-weight: bold;
}

/*Crée un élément au début du h1  */
h1::before {
    /* La propriété content est obligatoire sur un before ou un after, peut être laissée vide */
    content: "Titre: ";
    color: rgb(117, 11, 131);
}
/* Crée un élément à la fin du h1 */
h1::after {
    content: " - Fin";
    color: rgb(117, 11, 131);
}

/* Les classes, id et autres attributs */
/* sélectionne l'élément d'id "MenuImportant" */
#MenuImportant{
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 42px;
}

/* sélectionne tous les éléments avec la classe "peuImportant" */
.peuImportant{
    color: rgb(141, 141, 141);
    font-weight: 100;
    font-size: 8px;
}

/* Tous a qui possède un attribut "target" */
a[target]   {
font-style: italic;
}

/* Tous a dont l'attribut href contient le mot "amazon" */
a[href*="amazon"]{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Tous a dont l'attribut href se termine par ".fr" */
a[href$=".fr"]{
    font-family: 'Courier New', Courier, monospace;
}

/* Tous a dont l'attribut href commence par "https" */
a[href^="https"]::before{
    content: "Lien sécurisé: ";
    color: rgb(0, 0, 0);
}

/* priorité et spécificité */
/* La priorité spécifique des sélecteurs est représenté par 3 chiffres  (0,0,1)
    Chaque chiffre à la priorité sur le suivant :
    1,0,0 aura la priorité sur  0,18,9
    0,1,0 aura la priorité sur 0,0,5
    0,0,3 aura la priorité sur 0,0,1
    Ces chiffres sont définies par les sélecteurs:
    Une balise (div, main...) fera évoluer le dernier chiffre.
    main > p vaudra 0,0,2
    Une classe, ou pseudo-classe fera évolué le second chiffre.
    div.ClasseCool vaudra 0,1,1
    Un id fera évoluer le premier chiffre
    div#Important vaudra 1,0,1
 */

li:nth-child(1){
    color: rgb(208, 255, 0); 
}


