*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.radley-regular {
    font-family: "Radley", serif;
    font-weight: 600;
    font-style: normal;
}

.radley-regular-italic {
    font-family: "Radley", serif;
    font-weight: 400;
    font-style: italic;
}

font-face {
    font-family: Noto_Serif;
    src: url(/Noto_Serif/static/NotoSerif-Italic.ttf);
}


@font-face {
    font-family: Roboto;
    src: url(/Roboto_Condensed/static/RobotoCondensed-Medium.ttf);
}


body{
    width: 100%;
    height: 100vh;
    background-color: black;
}

header{
    position: fixed;
    display: flex;
    flex-direction: row;
    background-image:linear-gradient(to right, rgb(137, 198, 255),aliceblue  );
    width: 100%;
    top: 0px;
    padding: 10px;
}

li{
    list-style-type: none;
    float: inline-start;
    justify-content: center;
    align-items: center;
    padding: 20px;
    }

    a{
        text-decoration: none;
        color: black;
        font-size: 1.3rem;
        display: inline-block;
    }


div{
    width: 100%;
    margin-top: 10%;
    margin-left: 10%;
}

h1{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
}

p{
    width: 20%;
    color: white;
    font-size: 1rem;
    text-align: left;
    font-family: Noto_Serif;
}


main{
    width: 100%;
    height: 100vh;
}

img{
    width: 60px;
}

.skills{
    position: absolute; 
    top: 30%;
    left: 50%;
    
        img{
            position: relative;
            animation: rotation 2s linear infinite;
            transform-origin: 55px;
            transition-duration: 1s;
            transition-delay: 0.5s;
            transform: translate(-50%, -50%);

            img:active{
                rotate: (180deg); 
            }
}
}

@keyframes rotation {
    0% {
        
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}  


#html, #css, #java, #swift, #figma, #canva, #illustrator {

    transition: transform 1s linear;
}
#html:hover{
    filter: contrast(800%);
    scale: 2;
} 
#css:hover{
    /* rotate: (180deg); */
    filter: contrast(800%);
    scale: 2;
} 
#java:hover{
    /* rotate: (180deg); */
    filter: contrast(800%);
    scale: 2;
} 
#swift:hover{
    /* rotate: (180deg); */
    filter: contrast(800%);
    scale: 2;
} 
#figma:hover{
    /* rotate: (180deg); */
    filter: contrast(800%);
    scale: 2;
} 
#canva:hover{
    /* rotate: (180deg); */
    filter: contrast(800%);
    scale: 2;
} 
#illustrator:hover{
    /* rotate: (180deg); */
    filter: contrast(800%);
    scale: 2;
} 



footer {
    top: 100vh;
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(to right, rgb(137, 198, 255),aliceblue);
    position: sticky; 
}

footer ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
    align-items:left ; 
    height: 10vh;

}

