*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* Grands titres */
@font-face {
    font-family: Noto_Serif;
    src: url(../../Fonts/Noto_Serif/static/NotoSerif-Italic.ttf);
}

/* Textes */
@font-face {
    font-family: Oranienbaum;
    src: url(../../Fonts/Oranienbaum/Oranienbaum-Regular.ttf);
}


/* Version desktop */

@media  screen and (min-width: 990px) and (max-width: 1920px) {

    #nav-mobile {
        display: none;
    }
    

/* ! BODY */


body{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    grid-template-rows: auto 1fr auto;
    display: grid;
    grid-template-areas: 
    "header header   "
    "main main  "
    "footer footer ";
}

/* Tête */

header{
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    background-image:linear-gradient(to right, rgb(137, 198, 255),aliceblue  );
    width: 100%;
    padding: 10px;
    grid-area: header;

}
header li {
    transition: 1s linear;
    transition-property: border;
    position: relative; 
    text-align: center;
}


header li::before,
header li::after{
    position: absolute;
    content: "";
    width: 0;
    border-top: 3px solid #000000;
    transition-property: width;
    transition-duration: 0.5s;
}

header li::before{
    top: -3px;
    left: 0;
}
header li::after{
    bottom: -3px;
    right: 0;
}
header li:hover{
    color: #000;
}
/* Width est l'élément qui permet aux lignes de s'afficher */
header li:hover::before,
header li:hover::after{
    width: 100%;
}


ul li {
    list-style-type: none;
    float: inline-start;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    }

header a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    display: inline-block;
}

/* Textes */

h1{
    top: 10%;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: Noto_Serif;
}

h2{
    color: white;
    font-family: Noto_Serif;
    font-size: 1rem;
}

p{
    color: white;
    font-family: Oranienbaum;
    font-size: 1rem;
    font-weight: 400;
}

/* ! POP UP */


.modale {    
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;

}


.modale.active {
    visibility: visible;
    opacity: 1;
    /* opacity empêcher la modale 1 de se fermer car lorsque l'on cliquer sur le bouton on cliqué en réalité sur la div de la modale 3 qui été en opacity : 0 */
    z-index: 2;
}

.modale1{
    
    margin-left: 1%;
    margin-top: 3%;
    color: white;
    width: 325px;
    height: 200px;
    border: 2px dashed rgb(255, 255, 255);
    }

    .modale2{
    margin-left: 18%;
    margin-top: 3%;
    color: white;
    width: 310px;
    height: 200px;
    border: 2px dashed rgb(255, 255, 255);
    padding: 10px;
    background-color: #000;

h1{
    font-size: 1rem;
}

li{
    list-style-type: none;
}

a{
    color: white;
}

    }

    .modale3{
        color: white;
        visibility: visible;
        width: 450px;
        height: 280px;
        border: 2px dashed rgb(255, 255, 255);
        padding: 10px;
        margin-left: 35%;
        margin-top: 3%;


        a{
            color: white;
            text-decoration: underline;
            margin-right: 2%;
        }
    }

    .modale4{

        color: white;
        width: 370px;
        height: 160px;
        border: 2px dashed rgb(255, 255, 255);
        padding: 10px;
        margin-top: 3%;
        margin-left: 59%;
    }

    .modale5{
        color: white;
        width: 350px;
        height: 400px;
        border: 2px dashed rgb(255, 255, 255);
        padding: 10px;
        margin-left: 80%;
        margin-top: 3%;
        
        img{
            width: 50px;
        }
    }

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 15px;
    transform: translate(-50%, -50%)
} 

input{
    margin-top: 8%;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
    border: 2px dotted white;
    color: white;
    font-family: Noto_Serif;
}


.close{
    width: 70px;
    padding: 3px;
    border-radius: 10px;
    border: 2px dotted white;
    color: white;
    font-family: Noto_Serif;
    grid-area: ".close";
}

.close:hover{
    background-color: rgb(36, 36, 114);
}


input:hover{
    transform: translateY(5px);
    box-shadow: rgb(255, 255, 255) 3px 3px 3px 1px;
}

input:active{
    background-color: rgb(116, 116, 255);
    transition-property: transform;
}


/* ! Cartes */

.cartes{
    box-shadow: 15px 5px 5px purple;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dotted rgb(225, 0, 255);
    border-radius: 6%;
}

#afci{
    width: 100px;
    height: 100px;
}
#simplon{
    width: 100px;
    height: 100px;
}
#apple{
    width: 120px;
    height: 100px;
}
#konexio{
    width: 120px;
    height: 100px;
}

#popschool{
    width: 100px;
    height: 100px;
}

.carte{
    margin-left: 0.5%;
    display: grid;
	grid-template-rows: 50% auto 1fr;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 210px;
    gap: 40px;

    h2{
        justify-content: left;
        align-items: center;
    }

    img{
    background-color: rgba(255, 255, 255, 0.897);
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
}
}


#git{
    font-size: 1rem;
    color: white;
}

.side{
    display: flex;
}

.download{  
    margin-left: 7%;
    width: 100px;
    color: white;
}


div {
    width: 100%;
}

/* ! Footer */

footer{
    position: sticky; 
    top: 100vh; 
    width: 100%;
    height: 10vh;
    background-image:linear-gradient(to right,  aliceblue, rgb(137, 198, 255));
    grid-area: footer;
}

footer ul {

    border-top: 2px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    width: 100%;
    
    justify-content: right;
    align-items:left ; 
    height: 100%;
}


#à_côté{
    width: 100%;
}


.copyright{
    font-size: 1.3rem;
    height: 20px;
    color: #000000;
    margin-top: 1%;
}
}





/* ! Version mobile */

@media screen and (min-width: 340px) and (max-width:490px ) {

    #nav-desktop{
        display: none;
    }

    #nav-mobile{
        background-image:linear-gradient(to right, rgb(137, 198, 255),aliceblue  );
    }

    hr{
        display: none;
    }

    .hamburger-menu{
        top: -5px;
        left: 5px;
        position: relative;
        display: inline-block;
    }
    
    .hamburger-icon{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 24px;
        width: 30px;
        cursor: pointer;
    }
    .hamburger-icon span {
        width: 100%;
        height: 2px;
        background-color: rgb(0, 0, 0);
        transition: all 0.3 ease-in-out ;
    }
    
    .menu-links{
        position: absolute;
        top: 100%;
        left: 0;
        background-image:linear-gradient(to right, rgb(137, 198, 255),aliceblue  );
        width: fit-content;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3 ease-in-out ;
    }
    
    .menu-links a {
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 1rem;
        color: black;
        font-weight: bold;
        transition: all 0.3 ease-in-out ;
    }
    
    .menu-links li {
        list-style-type: none; 
    }
    
    .menu-links.open{
        max-height: 400px;
        }
    
    .hamburger-icon.open span:first-child{
    transform: rotate(45deg)  translate(8px, 6px);
    }
    .hamburger-icon.open span:nth-child(2){
    opacity: 0;
    /* fait disparaître la barre du milieu */
    }
    .hamburger-icon.open span:nth-child(3){
    transform: rotate(-45deg)  translate(8px, -6px);
    }
    
    .hamburger-icon span:first-child{
        transform: none;
    }
    .hamburger-icon span:nth-child(2){
        opacity: 1;
    }
    .hamburger-icon span:nth-child(3){
        transform: none;
    }

    body{
        display: flex; 
        flex-direction: column;
        width: 100%; 
        height: 100vh;
        background-color: black; 
    }

    li{
        list-style: none;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    a{
        text-decoration: none;
        color: black;
        font-size: 1rem;
        display: inline-block;
    }

    p{
        font-size: 1.3rem;
        color: white;
    }

    .cartes{
        margin-top: 10%;
        width: 57%;
        box-shadow: 15px 5px 5px purple;
        border: 2px dotted rgb(225, 0, 255);
        border-radius: 6%;
    }

    .modale {    
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        border: 2px solid yellow;
        transition: visibility 0s, opacity 0.3s ease-in-out;
    
    }
    
    
    .modale.active {
        visibility: visible;
        opacity: 1;
    }
    
    .modale1{
        color: white;
        width: 350px;
        height: 200px;
        border: 2px dashed rgb(255, 255, 255);
        }
    
        .modale2{
        color: white;
        width: 450px;
        height: 200px;
        border: 2px dashed rgb(255, 255, 255);
        padding: 10px;
        background-color: #000;
    
    
    h1{
        font-size: 1rem;
    }
    
    li{
        list-style-type: none;
    }
    
    a{
        color: white;
    }
    

        }
    
        .modale3{
            color: white;
            visibility: visible;
            width: 450px;
            height: 280px;
            border: 2px dashed rgb(255, 255, 255);
            padding: 10px;
    
    
            a{
                color: white;
                text-decoration: underline;
                margin-right: 2%;
            }
        }
    
        .modale4{
            color: white;
            width: 450px;
            height: 200px;
            border: 2px dashed rgb(255, 255, 255);
            padding: 10px;
        }
    
        .modale5{
            color: white;
            width: 450px;
            height: 200px;
            border: 2px dashed rgb(255, 255, 255);
            padding: 10px;
            
    
            img{
                width: 100px;
            }
        }
    
    
    .modal-container {
        position: fixed;
        top: 50%;
        left: 50%;
        padding: 15px;
        transform: translate(-50%, -50%)
    } 
    
    input{
        margin-top: 8%;
        background-color: blue;
        padding: 10px;
        border-radius: 10px;
        border: 2px dotted white;
        color: white;
        font-family: Noto_Serif;
    }
    
    
    .close:hover{
        background-color: rgb(36, 36, 114);
    }

    
    .close{
        width: 15%;
        padding: 3px;
        border-radius: 10px;
        border: 2px dotted white;
        color: white;
        font-family: Noto_Serif;
        grid-area: ".close";
    }
    
    
    input:hover{
        transform: translateY(5px);
        box-shadow: rgb(255, 255, 255) 3px 3px 3px 1px;
    }
    
    input:active{
        background-color: rgb(116, 116, 255);
        transition-property: transform;
    }

    .carte{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

    h2{
    width: 100px;
    color: white;
    font-size: 1rem;
    }

        img{
            width:100px;
            background-color: rgba(255, 255, 255, 0.897);
        }
    }

#carte5{
    margin-bottom: 3%;
}


/* ! POP-UP */

    .modale1{
    font-size: 0.5rem;
    background-color: #000;
    left: 17%;
    top: 10%;
    width: 35%;
    height: 18%;

.close{
    width: 70px;
}
p{
    font-size: 1rem;
}

    }
    .modale2{
        background-color: #000;
        font-size: 0.5rem;
        left: 15%;
        top: 35%;
        width: 50%;
        height:30%;

        .close{
            width: 70px;
        }

        p{
            font-size: 1rem;
        }

        .git{
            color: white;
        }
    }
    .modale3{
        font-size: 0.5rem;
        justify-content: justify;
        height: 55%;
        left: 52%;
        width: 45%;
        top: 40%;
        background-color: #000;

        .close{
            width: 70px;
        } 

p{
    font-size: 0.7rem;
}

        #video{
            width: 50px;
            height: 80px;
        }
    }
    .modale4{
        background-color: #000;
        font-size: 0.5rem;
        left: 0;
        width: 60%;
        top: 70%;
        height: 20%;

        .close{
            width: 70px;
        }

        p{
            font-size: 0.7rem;
        }
        
    } 
    .modale5{
        background-color: #000;
        font-size: 0.5rem;
        left: 38%;
        width: 60%;
        height: 63%;
        top: 28%;
        bottom: 0;

        .close{
            width: 70px;
        }  

        p{
            font-size: 0.7rem;
        }
    }

/* ! FOOTER */

    #à_côté{
    width: 100%;
    }


    .copyright{
        font-size: 1rem;
        height: 20px;
        color: #000000;
    }
    footer{
        position: sticky; 
        top: 100vh; 
        background-image:linear-gradient(to right,  aliceblue, rgb(137, 198, 255));
        width: 100%;
        height: 8vh;
        grid-area: footer;
    }
    
    footer li{
        list-style-type: none;
        float: inline-start;
        justify-content: center;
        align-items: center;
        padding: 5px; 
        }


    footer ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: right;
        align-items:left ; 
        height: 8vh;
    }

    a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    display: inline-block;
    }

    img{
    width: 40px;
    }

}