*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.radley-regular {
    font-family: "Radley", serif;
    font-weight: 600;
    font-style: normal;
}

.radley-regular-italic {
    font-family: "Radley", serif;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Noto_Serif;
    src: url(/Noto_Serif/static/NotoSerif-Italic.ttf);
}


@font-face {
    font-family: Roboto;
    src: url(/Roboto_Condensed/static/RobotoCondensed-Medium.ttf);
}

/* Version desktop */

@media screen and (min-width: 768px ) and (max-width: 1920px) {

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, black, rgb(186, 8, 221) , black);
    grid-template-rows: auto 1fr auto;
    display: grid;
    grid-template-areas: 
    "header header   "
    "main main  "
    "footer footer ";

    p{
        font-family: Noto_Serif;
    }
}

header{
    position: fixed;
    display: flex;
    flex-direction: row;
    background-image:linear-gradient(to right, rgb(137, 198, 255),aliceblue  );
    width: 100%;
    padding: 10px;
    grid-area: header;
}

li{
list-style-type: none;
float: inline-start;
justify-content: center;
align-items: center;
padding: 10px; 
}

ul li a{
    font-family: Roboto;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    display: inline-block;
}

main{
    
    grid-area: main;
}


.photo{ 
    color: white;
    background-image: url(/DWWM2025/02-css/03-box-sizing/phare.jpg);
    background-size: contain;
    width: 300px;
    height: 300px;
    margin-top: 10%;
    float: right;
    margin-right: 15%; 
    border-radius: 50%;
    padding: 10px 5px;
    font-size: 1em;
    font-weight: bold;
    border: transparent;
    box-shadow: 10px 5px 5px 0 rgb(0, 0, 0);
      /* transform: translate(-50%, -50%);    */
    /* transition-duration: 2s;
    transition-delay: 0.2s; */
}

/* li .photo:hover{
    rotate: y 360deg;
    transition-property: transform;
} */



.flex{
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* Mon portfolio */
.flex2{
    display: flex;
    flex-direction: row;
}

.left{
    float: right;
}
/* Mon portfolio */
.right{
margin-right: 15%;   
transition-duration: 2s; 
transition-property: transform;
} 

.btn{ 
    box-shadow: 10px 5px 5px   ;
    width: 250px;
    height: 50px;
    margin-left: 40%;
    margin-top: 30%;  
    color: white;
    border-radius: 10px 5px;
    background-color: purple;
    a{
        font-family: Roboto;
        text-align: center;
        color: white;
        text-decoration: none;
        font-size: 1.3rem;
    }
}

li button:active {
    transform: translateY(10px);
}

h1{
    font-family: Roboto;
    margin-left: 20%;
    font-size: 2.5em;
    color: white;
}

p{
    font-size: 2em;
    text-align:center;
    color: white;
    width: 50%;
    margin-left: 7%;
}

footer{
    position: sticky; 
    top: 100vh; 
    background-image:linear-gradient(to right,  aliceblue, rgb(137, 198, 255));
    width: 100%;
    grid-area: footer;
}

footer ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-image:linear-gradient(to right,  aliceblue, rgb(137, 198, 255));
    justify-content: right;
    align-items:left ; 
    height: 100%;
}


}






/* @media screen and (min-width:360px ) and (max-width:430px)  {
    
footer{
    width: 100%;
}
    

}  */
